# Ignore compiled binary files
target/

# Ignore the lock file
Cargo.lock

# Ignore local environment configuration files
.cargo/config

# Ignore Cargo cache files
.cargo/registry/cache/
.cargo/registry/index/
.cargo/registry/src/

# Ignore Git database files within Cargo
.cargo/git/db/

# Ignore generated documentation files
docs/

# Ignore test files
tests/

# Ignore log files
*.log
log/

# Ignore IDE settings
.vscode/
*.vim

# Ignore credentials file
credentials.json
tokencache.json
